{% extends 'global/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="d-flex justify-content-between w-100 m-0">
        <div class="flex-grow-1 m-0">
            <h2 class="test">{% translate "CHANGE PASSWORD" %}</h2>
        </div>
    </div>
    {% if user.is_authenticated %}
        <form method="post" class="d-flex justify-content-center w-100 px-1 px-md-3">
            <div class="d-flex w-100 justify-content-center">
                {% csrf_token %}
                <div class="col-11 col-sm-9 col-md-8 col-lg-6 basic-form p-4 m-1 ">
                    {% for field in form %}
                        <div class="form-field d-flex flex-column flex-sm-row justify-content-center mb-1 {% if field.errors %}form-error{% endif %}">
                            <label class="form-label login-min-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                        <div class="valid-feedback {% if field.errors %}d-block{% endif %}">
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    <div class="row justify-content-center mt-4">
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-hand-index-thumb-fill me-1"></i>{% translate "Change Password" %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% else %}
        <p>{% translate "Your are not logged in" %}</p>
    {% endif %}
{%  endblock %}
