//import bootstrap css
@import 'bootstrap';
//Import the generic app css
@import '../global';

//Overall css settings
body {
  background-color: $gray-800;
  color: $gray-300;
}
input {
  background-color: $gray-300;
}
select {
  background-color: $gray-300;
}
a {
  color: $primary;

  &:visited, &:active {
    color: $primary;
  }
}

//Components - Basic Form
.basic-form {
    &-border {
      border: 1px solid $gray-600;
    }
}

//Components - Alerts
.alert-danger {
  @include button-variant(
                  rgba($success,0.7) ,
                  $success,
                  $gray-300
  );
}
.alert-primary {
  @include button-variant(
                  rgba($primary,0.3) ,
                  $primary,
                  $gray-300
  );
}

//Components - Form
.valid-feedback {
  color: #e6b3b3;
}
