{%  extends 'base/base.html' %}
{%  load static %}
{% load i18n %}
{% block extrajs %}
    <script src="{%  static 'base/scripts/base.js' %}" defer></script>
{%  endblock %}
{% block content %}
    <div class="d-flex justify-content-between w-100 m-0">
        <div class="flex-grow-1 m-0">
            <h4>{% translate "Edit Module" %}: {{ module.name }}</h4>
        </div>
        <div class="flex-grow-0 d-flex justify-content-end pb-1">
            <form action="{% url 'modules' %}" method="GET">
                <span class="d-inline-flex flex-row flex-nowrap">
                    <button type="submit" class="btn btn-secondary button-min btn-max-size">
                        <i class="bi bi-arrow-left-circle me-1"></i>
                        {% translate "Back" %}
                    </button>
                </span>
            </form>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-center">
        <form method="POST" class="d-flex justify-content-center w-100 px-1 px-md-3">
            {% csrf_token %}
            <input type="hidden" name="operation-edit" value="1">
            <div class="col-12 col-sm-10 col-md-9 col-lg-8 col-xl-6 basic-form mx-0">
                <div class="basic-form-body">
                    {% for field in form %}
                        <div class="form-field basic-form-element mb-1 {% if field.errors %}form-error{% endif %}">
                            <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            {{ field }}
                            <div class="valid-feedback {% if field.errors %}d-block{% endif %}">
                                {{ field.errors }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="basic-form-footer">
                    <button type="submit" class="btn btn-primary">{% translate "Save changes" %}</button>
                </div>
            </div>
        </form>
    </div>
{%  endblock %}
